* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 15px;

}
#header-logo {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

#header-menu {
    display: flex;
    gap: 1rem;
}
.menu-item a{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#main {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 15px;
    padding-top: 45px;
    padding-bottom: 60px;
    justify-content: center;
    height: 300px;
    font-family: sans-serif;
    color: white;
}

#main-one {
    margin-right: 35px;
    width: 32%;

}
#main-heading {
    font-size: 48px;
    color: #f9faf8;
}
button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    width: 100px;
    font-weight: bold;
    border: none;
    height: 30px;
}

#main-two {
    background-color: grey;
    text-align: center;
    width: 32%;
    padding: 80px;
}


#random-info {
    text-align: center;
    font-size: 32px;
    padding: 30px;
    font-weight: bolder;
}

#carousel {
    display: flex;
    height: 300px;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.carousel-item {
    background-color: grey;
    width: 15%;
}

#quote {
    background-color: #e5e7eb;
    height: 300px;
    margin-top: 60px;
}

#cta {
    background-color: grey;
    height: 140px;
    margin: 70px;
    border-radius: 10px;
}

#copyright {
    background-color: #1F2937;
    height: 100px;
    text-align: center;
    color: #f9faf8;
    padding-top: 40px;
}