* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 15px;

}
#header-logo {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

#header-menu {
    display: flex;
    gap: 1rem;
}
.menu-item a{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#main {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 15px;
    padding-top: 45px;
    padding-bottom: 60px;
    justify-content: center;
    height: 300px;
    font-family: sans-serif;
    color: white;
}

#main-one {
    margin-right: 35px;
    width: 32%;

}
#main-heading {
    font-size: 48px;
    color: #f9faf8;
}
button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    width: 100px;
    font-weight: bold;
    border: none;
    height: 30px;
}

#main-two {
    background-color: grey;
    text-align: center;
    width: 32%;
    padding: 80px;
}


#random-info {
    text-align: center;
    font-size: 32px;
    padding: 30px;
    font-weight: bolder;
}

#carousel {
    display: flex;
    height: 300px;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.carousel-item {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    background-color: white;
    border-radius: 10%;
    border: 5px solid;
    border-color: #3882f6;
    width: 80%;
    height: 60%;
}
.text {
    margin-top: 5px;
    width: 80%;
    text-align: center;
}

#quote {
    background-color: #e5e7eb;
    height: 400px;
    margin-top: 60px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    padding-top: 120px;
    padding-left: 300px;
    padding-right: 300px;
    color: #5f5f5f;
}
#thor {
    font-style: normal;
    font-weight: bold;
    color: black;
    text-align: right;
    margin-top: 10px;
    font-size: 25px;
}


#cta {
    background-color: #3882F6;
    height: 140px;
    margin: 70px;
    margin-left: 190px;
    margin-right: 190px;;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#cta-text {
    font-weight: bold;
    font-size: 25px;
}
#cta-text2 {
    font-size: 20px;
}

#cta-button {
    border: 2px solid;
    width: 140px;
}


#copyright {
    background-color: #1F2937;
    height: 100px;
    text-align: center;
    color: #f9faf8;
    padding-top: 40px;
}